[Desktop Entry]
Name=EduOS Liquid Glass
Comment=Premium EduOS login screen with animated glass background
Type=Service
X-KDE-PluginInfo-Author=EduOS Team
X-KDE-PluginInfo-Email=team@eduos.org
X-KDE-PluginInfo-Name=EduOS-SDDM
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://eduos.org
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-ServiceTypes=SDDM/Theme
X-KDE-ParentApp=sddm